.h1, .h2, .h3, .h4, .h5, h6, h1, h2, h3, h4, h5, h6,
[class^="flaticon-"]:before{
	color:#030d26
}

/*=================All RGB color========================*/
.main-nav {
	background-color: rgba(0, 0, 0, 0.7)
}
.gallery-item:hover .overlay {
	background-color: rgba(251, 157, 91, 0.8)
}
.testimonials-carousels.owl-carousel .owl-item img {
  border-color: rgba(255, 255, 255,0.5);
}
#banner:before {
	background-color: rgba(29, 27, 28, 0.8)
}
.overlay-2:before{
	background-color: rgba(251, 157, 91, 0.9)
}
.carousel-inner .item::before,
.ad-banner::before,
.blog-item:hover .overlay,
.overlay-1::before{
	/*background-color:rgba(3, 13, 38, 0.8)*/
}
/*=================Button color========================*/
.btn, .cart-dropdown-button a{
	color: #fff 
}
.btn-primary {
	background-color: #fb9d5b;
	border-color: #fb9d5b
}
.btn-primary:hover, .btn-primary:focus {
	background-color: transparent;
	border-color: #fb9d5b;
	color: #fb9d5b !important
}
.btn-secondary {
	background-color: #030d26
}
.btn-secondary:hover, .btn-secondary:focus {
	background-color: transparent;
	border-color: #030d26;
	color: #030d26
}
.btn-default{
	background-color: #fff;
	color: #fb9d5b
}
.btn-default:hover{
	background-color: transparent;
	color: #fff;
	border-color: #fff
}
.btn-link, .btn-link:focus, 
.btn-link:hover {
	color: #030d26
}
.btn-cart, .btn-stock .btn:hover{
	background-color:#030d26;
	color:#fff
}
.btn-cart:hover, .about-category-nav a:focus, 
.about-category-nav .active a, .about-category-nav li a::after{
	background-color:#fb9d5b;
	color:#fff
}
.btn-stock .btn{
	border:1px solid #efefef;
	color: #4b4b4b
}
/*Section Title Color*/
.section-title::before, 
.inner-title:before {
	background-color: #fb9d5b
}
.section-title .title-tag,
.top-right ul li ul.dropdown-menu a:hover {
	color: #fb9d5b
}
.top-right ul li ul.dropdown-menu a,
.sub-title {
	color: #030d26
}
/*Social Icon Color*/
.social-icon i {
	color:#fff
}
.social-icon li a i.fa:hover {
	background-color:#fb9d5b
}
/*=================Home Page-1========================*/
/*Top Header Color*/
.top-left > span, .language span,
.top-right ul li:before {
	color: #fff
}
.top-left > span > a, .top-left .language select {
	color: #b7b7b7
}
.cart-dropdown li a,
.top-right ul li a {
	color: #b7b7b7
}
.cart-dropdown .remove,
.top-right ul li a:hover{
	color: #fb9d5b;
}
/*Main Nav Color*/
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.mega-menu > li > a, 
.mega-menu-child> li > a {
  color: #fff
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover{
	color: #fb9d5b;
	background: transparent
}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a, 
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
	color: #fb9d5b;
	background: transparent
}
.navbar-nav .dropdown-menu, 
.mega-menu{
	background-color: #030d26
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover, 
.dropdown-menu > li.active > a{
	color: #fb9d5b
}
.mega-menu-child>li>a:focus, 
.mega-menu-child>li>a:hover, 
.mega-menu-child > li.active > a{
	color: #fb9d5b
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	color: #fb9d5b
}
/*Slider Color*/
.carousel-caption span {
	color: #fff
}
.carousel-indicators li {
	border-color: #fff
}
.slider-item .carousel-indicators .active {
	background-color: #fb9d5b;
	border-color: #fb9d5b
}
.quote-title {
	background-color: #fb9d5b
}
#slider .form-control {
	color: #030d26
}
#slider .form-control:focus {
	background-color: transparent;
}
#slider .form-control::-webkit-input-placeholder {
 color:#fff
}
#slider .form-control:-ms-input-placeholder {
 color:#fff
}
#slider .form-control::placeholder {
 color:#030d26
}
.bg-default {
	background: #fb9d5b
}
.bg-dark {
	background: #030d26
}
/*Welcome Color*/
.welcome-item .btn-link {
	color: #fb9d5b
}
/* Our Service Section */
.bg-gray {
	background-color: #f5f5f5
}
.service-item:hover .service-title,
.service-item:hover a,
.service-item:hover [class^="flaticon-"]:before {
	color: #fb9d5b
}
/* Our Service Details Section */
.service-list a {
  background-color: #f1f1f1;
  color: #000
}
.service-list a:hover,
.special-service-item span:before{
	color:#fff
}
.service-list a:hover{
	background-color:#fb9d5b
}
.special-service-item .thumb-title{
	color:#fb9d5b
}
/* Popular Question Section */
.according_area{
	border: 1px solid #f1f1f1
}
.according_title {
  background-color: #f1f1f1;
  color:#000
}
.according_title::before, .according_title::after {
  background-color: #fb9d5b
}
#popular-question .according_title.active {
  background-color: #fff
}
.according_title i{
  color:#fb9d5b
}
.according_details {
  color: #616161
}
/* Photo Gallery Section */

.overlay [class^="flaticon-"]:before{
	color: #fff
}

/* Testimonial Section */

.testimonials-carousel.owl-carousel .owl-dot.active span{
	background-color: #fb9d5b
}
.testimonials-carousel.owl-carousel .owl-dot span{
	background-color: #030d26
}
/* Achivement Section */

.achivement > span::after {
  background-color: #fb9d5b
}
/* Latest News Section */
.blog-item, .team-member {
	border: 2px solid #f1f1f1
}
.blog-text a {
	color:#909090
}
.blog-item:hover .thumb-title{
	color: #fb9d5b
}
/* Blog Sidebar */
.search-box:hover > a{
	color:#fff;
	background-color:#030d26
}
.tags a:hover{
	background-color:#fb9d5b
}
.popular_tab li a:hover, 
.populer_comment .nav-tabs li.active a, 
.nav-tabs li.active a:hover, 
.nav-tabs li.active a:focus {
  color:#fff !important;
  background-color:#fb9d5b
}
.popular_tab > li > a::before{
	border-top-color:#fb9d5b
}
.populer_comment .nav-tabs{
	border:none
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover{
	border:none
}
.blog-category li a, .archive li a, 
.recent-post ul li a, .post_area ul li a {
  color: #4b4b4b
}
.blog-category li a:hover, .archive li a:hover, 
.recent-post ul li a:hover, .blog-sidebar i.fa, 
.search-box > a, .post_area ul li a:hover {
  color: #fb9d5b
}
.recent-post ul li span, .post_area ul li span {
  color:#a2a2a2
}
.popular_tab li a{
 background:#efefef;
 color:#5a5a5a
}
.tags a {
  background-color: #030d26;
  color: #fff
}
.pagination > li > a, .pagination > li > span{
	background-color: #030d26;
	color:#fff
}
.pagination>li>a:hover, .pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover, 
.pagination > li > a:focus, .pagination > li > a:hover, 
.pagination > li > span:focus, .pagination > li > span:hover{
	background-color: #fb9d5b;
	color:#fff
}
/* Blog Single */
.blog-detail:hover .blog-text a .thumb-titile, 
.related-post .post:hover a, 
.related-post .post .comment i, .comment-detail .replay{
	color:#fb9d5b
}
.related-post .post > a{
	color:#4b4b4b
}
.blog-detail .blog-text blockquote, 
.blog-detail .tag-share .btn-share .btn-primary {
  color: #fff
}
.comment-detail > span > i{
	color: #030d26
}
/* Footer Section */
#footer {
  background-color: #030d26
}
.footer-widget > p, 
.footer-widget ul li span, 
.footer-widget p,
.footer-widget ul li a {
  color: #a9a9a9
}
.footer-widget .social-icon li, 
.footer-widget .widget-title, 
.footer-widget ul li{
  color: #fff
}
.footer-widget .social-icon li a i {
  background-color: #fff;
  color: #030d26
}
.footer-widget ul li a:hover{
	color: #fb9d5b
}
.footer-widget .social-icon li a i:hover{
	color: #fff
}

/* Footer Bottom Section */
#footer-bottom {
  background-color: #000615
}
#footer-bottom li a, .copyright span, .copyright span a {
  color: #fff
}
#footer-bottom li a:hover, .copyright span a:hover {
  color: #fb9d5b
}
/*=================Home Page-2========================*/
/* Main Nav */
#header-2 .main-nav{
	border-bottom:1px solid #5a5a5a
}
#header-2 .header-top, #header-2 .main-nav {
  background-color: transparent
}
/* Our Service */
.service-left {
  background-color: #000615
}
.color-white{
	color:#fff
}
.service-left .service-text {
  color:#a5a5a5
}
.bg-white{
	background-color:#fff
}
#home-page-2 .service-caption a {
  color: #030d26
}
.service-item.bg-white:before,
.service-item.bg-gray:before {
	background: #fb9d5b
}
.service-item.bg-white:hover .service-title,
.service-item.bg-white:hover, 
.service-item.bg-white:hover .service-caption a,
.service-item.bg-white:hover [class^="flaticon-"]:before,
.service-item.bg-gray:hover .service-title,
.service-item.bg-gray:hover, 
.service-item.bg-gray:hover .service-caption a,
.service-item.bg-gray:hover [class^="flaticon-"]:before {
  color: #fff;
}
/* Why Choose Us */
.color-default{
	color: #fb9d5b
}
/* Our Team Section */
.team-member .designation{
	color:#030d26
}
.team-overlay p{
	color:#fff
}
.team-overlay .social-icon a i:hover{
	background-color:#030d26
}
.team-member:hover .team-overlay,
.arrow1 a i{
	background-color:#fb9d5b
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]{
	border-color:#fb9d5b;
	color:#fb9d5b;
	background-color:transparent
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover{
	background-color:#fb9d5b
}
/* Profile Details */
.personal-info li:nth-child(2n+1){
  background-color:#f1f1f1
}
.profile-details-img .social-icon a i:hover{
  background-color:#fb9d5b
}
.personal-info li {
  color:#030d26
}
.profile-name{
	border-bottom: 1px solid #f1f1f1
}
/* Pricing Section */
.price-list li {
  border-bottom:1px solid #fff
}
.pricing-item:hover .thumb-title{
  color: #fb9d5b
}
.pricing-nav li a{
  background-color: #eee;
  color: #030d26
}
.pricing-item:hover .month-rate,
.pricing-item:hover .btn-secondary,
.pricing-nav li a:hover{
  background-color: #fb9d5b;
  border-color: #fb9d5b;
  color:#fff
}
/* Get Your Choice */
.bg-gray-2{
	background-color: #eee
}
/*=================Home Page-3========================*/
/* Our Service-2 */
.service-page .our-servic-2 #our-service .service-item{
	background-color:#f5f5f5
}
/* Progress Bar */
.prgs-bar > span, .skill-percent, .skill-percent .count-num {
  color: #030d26
}
.skill-progress .progress {
  background-color: #030d26
}
blockquote, .project-experience .overlay, .progress-bar {
  background-color: #fb9d5b
}
.progress span {
  color: #fff
}
/* Gallery */
.gallery-item .overlay .gallery_title::before, 
.gallery-item .overlay .gallery_title::after {
  background-color: #fff
}
/* Specification */
.specification-item span{
	color:#fb9d5b
}
.specification-item i, .specification-item p{
	color:#fff
}
/* Partners */
.partner-slider .item a img{
	border:1px solid #eee
}
.partner-slider .item a img:hover{
	border:1px solid #030d26
}
/*=================About Us========================*/
/* Banner */
.page-titile {
  color: #fff
}
.banner-nav a {
  color: #fff
}
.banner-nav .active a {
  color: #fb9d5b
}
/* Company Intro */
.about-video [class^="flaticon-"]::before{
	color: #fff
}
.about-video a:hover [class^="flaticon-"]::before{
	color: #fb9d5b
}
/* Our History */
.history-list li span, .history-list li::before {
	color:#fb9d5b
}
.history-list li::after {
  background-color: #f1f1f1
}
/*=================Pricing========================*/
.pricing-2 .pricing-nav li a{
	background-color:#efefef;
	color:#5a5a5a
}
.pricing-2 .pricing-nav li a:hover{
	background-color:#fb9d5b;
	color:#fff
}
/*=================shop========================*/
.product-sidebar .sidebar-widget, .shop-filter, 
.discount, .shop-search .search-box input{
  background-color:#f1f1f1
}
.product-sidebar .sidebar-widget {
  border: 1px solid #eee
}
.sidebar-widget .widget-title {
  border-bottom: 1px solid #d5d5d5
}
.product-top-tool {
	border: 1px solid #efefef
}
.product-top-tool .view-category li a, .product-list li a, 
.slide-arrow a, .product-detail .product-name{
	color:#030d26
}
.product-list li a:hover, .slide-arrow a:hover, 
.rating, .btn-stock i, .latest-product ul li:hover .post-txt h6, 
.product-item:hover .product-detail .product-name{
	color:#fb9d5b
}
#pricing-range {
	background-color:#fff
}
.filter-range::before,.filter-range::after, 
.filter-range, .product-item:hover .discount,
.view-category li a:hover, .view-category li a:focus, 
.view-category li a.active {
	background-color:#fb9d5b
}
.product-item:hover .btn-cart, 
.product-item:hover .discount,
.view-category li a:hover, 
.view-category li a:focus, .view-category li a.active{
	color:#fff
}
.product-item:hover{
	box-shadow:0 0px 5px #b7b7b7
}
.product-img, .product-detail {
  border:1px solid #efefef
}
.product-item .price {
  color: #8b8b8b
}
.product-item .price > span, .rating > span {
  color: #b7b7b7
}
.all-product-list .product-item{
	background-color:#fcfcfc
}
/*Single Product*/
.product-preview img, .preview-gallery img, .product-color li a,
.product-quantity .form-control{
	border: 1px solid #dbdbdb
}
.preview-gallery img:hover{
	border-color:#fb9d5b
}
.product-detail .rating a {
  color: #4b4b4b
}
.product-quantity a, .product-share .social-icon i, 
.product-info-tab .nav-tabs a{
	background-color:#f2f2f2;
	color:#686868
}
.product-quantity a:hover, 
.product-share .social-icon i:hover{
	background-color:#fb9d5b;
	color:#fff
}
.product-info-tab .nav-tabs a:hover, 
.product-info-tab .nav-tabs > li.active > a,
.product-info-tab .nav-tabs > li.active > a:focus, 
.product-info-tab .nav-tabs > li.active > a:hover{
  	border-top: 3px solid #030d26;
	background-color:transparent;
	color:#030d26 !important
}
.product-info-tab .tab-content li i{
	color:#fb9d5b
}
.technical-specification thead {
  background-color: #f2f2f2
}
.technical-specification td {
  border-color:#f2f2f2
}
/*=================Shopping Cart========================*/
.product-info > a, .product-info a i.fa, 
.product-price, .product-information a, .product-subtotal, 
.shopping-cart-table thead, .order-total > td{
  color:#030d26
}
.shopping-cart-table tbody tr, .product-thumbnail img{
	border: 1px solid #f1f1f1
}
.product-price .old-price{
	color:#a3a3a3
}
.coupon #coupon-code{
	border-color:#030d26
}
.cart-totals table, .cart-totals table .order-total {
	border-top: 1px solid #fff
}
/*=================Account========================*/
.sign-up-form .alt-link > a{
	color:#030d26
}
.sign-up-form .alt-link > a:hover{
	color:#fb9d5b
}
.sign-form::before {
  background-color: #fb9d5b
}
.sign-up a.active .thumb-title, 
.sign-in a.active .thumb-title{
	color:#fff
}
.sign-up a.active::before, .sign-in a.active::before {
  background-color: #fff
}
/*=================Our History========================*/
.about-category-nav a {
  background-color: #fff
}
.info-pages .btn-link, .about-category-nav a{
	color:#030d26 !important
}
.about-category-nav a:hover, 
.about-category-nav a:focus, .about-category-nav .active a{
	color: #fff !important
}
.brochure-info .btn-secondary [class^="flaticon-"]:before{
	color:#fff
}
.brochure-info .btn-secondary:hover [class^="flaticon-"]:before{
	color:#030d26
}
/*=================Our Mission========================*/
.strategy-planning .according_area{
	border-color:#ddd
}
.strategy-planning .according_title{
	background-color:transparent
}
.according_title.active{
	color: #fb9d5b
}
/*=================Values========================*/
.values-single{
	background-color:#fff
}
.package-values-item li ul, 
.box-list li:before, .package-values-item:hover{
	background-color:#fb9d5b
}
.package-values li, .package-values-item li ul li, 
.package-values-item:hover li, 
.package-values-item:hover li a.btn{
	color:#fff
}
.package-values-item:hover li a.btn{
	border-color: #fff
}
.package-values-item li {
	color: #030d26
}
.package-values-item li:last-child .btn{
	color:#fb9d5b
}
/*=================Career========================*/
.info-pages .according_title{
	background-color:transparent
}
.info-pages .according_details span, 
.info-pages [class^="flaticon-"]::before{
	color:#fb9d5b
}
.company-info li span{
	color:#030d26
}
/*=================Certification========================*/
.color-dark{
	color:#030d26
}
.info-pages .testimonial-person-detail{
	border-bottom: 1px solid #f1f1f1
}
/*=================Quote========================*/
.quote_working_system ul li:before{
	color:#fb9d5b
}
.service_quote_form input, .service_quote_form textarea{
	border: 1px solid #f5f5f5
}
.service_quote_form .form-group a{
	color:#a2a2a2
}
/*=================Help Center========================*/
.line{
	background-color:#030d26
}
.help-item [class^="flaticon-"]::before{
	color:#030d26
}
.help-item:hover{
	background-color:#fb9d5b
}
.help-item:hover .line, .chat-us .section-title::before{
	background-color:#fff
}
.help-item:hover [class^="flaticon-"]::before, 
.help-item:hover .thumb-title,
.btn-live-chat [class^="flaticon-"]::before,
.chat-us .section-title, .chat-us .sub-title{
	color:#fff
}
/*=================General Information========================*/
.support-list li a{
	color:#030d26
}
.support-list li a{
	background-color: #eee
}
.support-list li a, .support-article{
	border-color:#030d26
}
.support-list li a:hover, .support-list li.active a {
	background-color: #fb9d5b
}
.support-list li a:hover,
.support-list li a:hover [class^="flaticon-"]::before,
.support-list li.active a,
.support-list li.active a [class^="flaticon-"]::before{
	color: #fff
}
.support-article:hover{
	border-color:#fb9d5b
}
.support-article:hover a .thumb-title{
	color:#fb9d5b
}
/*=================Support Article Details========================*/
.support-article-list{
	background-color:#f1f1f1
}
.article-list li a {
	color: #030d26
}
.article-list li a:hover,
.article-list li.active, .article-list li.active a,
.article-details a, .agreement-list li i.fa{
	color: #fb9d5b
}

/*=================How it Work========================*/
.guaranty-safety-right, .btn-safety{
	border-color:#96bf1b
}
.btn-safety{
	color:#96bf1b
}
.btn-safety:hover{
	border-color:#030d26
}
/*=================Working Experience========================*/
.working-experience-items::before {
  background-color: #030d26
}
.experience-content-right h6::before, 
.experience-content-left h6:before{
	background-color:#fff
}
.experience-content-right h6::before, 
.experience-content-left h6:before,
.experience-item {
  border-color: #fb9d5b
}
.btn-experience-left .btn-primary::before, 
.btn-experience-right .btn-primary::before {
  border-top-color: #fb9d5b
}
.experience-duration span{
	color: #030d26
}
/*=================Pricing Extend========================*/
.additional-features label{
	color:#5a5a5a;
}
.additional-features input[type="checkbox"]:checked+label {
	color:#fff;
	background-color:#fb9d5b
}
@media screen and (max-width:1200px){
/* How it Work */
.how-work{
	background-color:#f1f1f1
}
}
@media screen and (max-width:767px){
.sign-up-form .alt-link{
	color:#000
}
.sign-up-form .alt-link > a:hover{
	color: #f1f1f1
}
#header-2 .main-nav, #header-3 .main-nav{
	background-color: #000
}
}